<!--
about.ejs web page
Harpreet Kaur
301200841
-->
 <%- include ('partials/header.ejs') %>
 <%- include ('partials/main_nav.ejs') %>
<!--ABOUT-->

<div id="content-wrapper">
    <div class="container">

        <section id="about" class="full-height px-lg-5">
            <div class="container">
                <div class="row pb-4">
                    <div class="col-lg-12">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>Harpreet Kaur Maan</h1>
                        <p class="text-brand">
                            Current student of Software Engineering Technology Advanced Diploma at Centennial College
                            • Trained with Java Core and Advanced Development and testing software manually
                            • Experience creating and reading SRS and BRS documentation
                            • Knowledge of working with Eclipse, Android Studio, VS Code and Visual Studio Code
                            • A foundational understanding of SDLC, STLC and Agile/Scrum
                            • Strong communication skills; multilingual in English, Punjabi, and Hindi
                            • Skilled with: HTML/CSS, Java, JavaScript, SQL, MongoDB, C#, Android Studio
                            • Tools: MS Office, MS PPT, GitHub, Jira (work progress, bug reports, ticket generation and task
                            management)
                        </p>
                        <p class="text-brand">
                            Skilled with: HTML/CSS, Java, JavaScript, SQL, MongoDB, C#, Android Studio
                            • Tools: MS Office, MS PPT, GitHub, Jira (work progress, bug reports, ticket generation and task
                            management)

                        </p>
                    </div>

                    <div class="col-lg-6">
                        <p>Proficient: HTML/CSS, Java, JavaScript, SQL, MongoDB, C#, Android Studio</p>
                        <p>Learning: TensorFlow, Python (scikit-learn, NumPy, SciPy, pandas), Spark (Spark SQL Pyspark) Cloud Computing, Google Analytics</p>
                    </div>
                    <div class="col-lg-6">
                        <p> Strong communication skills; multilingual in English, Punjabi, and Hindi</p>
                    </div>

                    <div class="col-lg-12">
                        <p class="text-brand">Graduated in 2018 from the Chitkara University, India.</p>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">
                        <h4>Current Education</h4>
                        <div class="row gy-4">
                            <div class="col-12">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h5>Software Engineering Technology Advanced Diploma</h5>
                                    <p class="text-brand"> Centennial College, Canada</p>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h5>Bachelor of Computer Application Technology</h5>
                                    <p class="text-brand"> Chitkara University, India</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h4>Experience</h4>
                        <div class="row gy-4">
                            <div class="col-12">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h5>Java Core and Advanced Developer</h5>
                                    <p class="text-brand"> Excellence Technology, Mohali India</p>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h5>Manual Testing</h5>
                                    <p class="text-brand"> Web Tech Learning, Chandigarh, India</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--//ABOUT-->
    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %>
