<!--
index.ejs WEB PAGE
HARPREET KAUR
301200841
-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--Main Content-->
<div id="content-wrapper">
    <!--HOME-->
    <section id="home" class="full-height px-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="display-5 fw-bold">Hey, there! <span class="text-brand">Welcome to my Express Portfolio Site!</span>  </h1>
                    <p class="lead mt-2 mb-4">For More information Contact Me</p>
                    <a href="/about" class="btn btn-brand me-3">About Me</a>
                    <a href="./Assets/resume/Resume-HarpreetKaur.pdf" class="link-custom" download="Resume-HarpreetKaur">View My Resume</a>
                </div>
            </div>
        </div>
    </section>
    <!--//HOME-->
    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %>



